
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor 
@{
    var claimsIdentity = HttpContextAccessor.HttpContext.User.Identity;
    var claim = claimsIdentity.Name;
}
    <ul class="navbar-nav">
    @if (claim != null)
    {
        <li class="nav-item">
            <a id="manage" class="dropdown-item text-primary" title="Manage">Hello @claim</a>
        </li>
        <li class="nav-item">
            <a asp-area="Authentication" asp-controller="Auth" asp-action="Logout" class="dropdown-item text-primary">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-area="Authentication" asp-controller="Auth" asp-action="Register" class="dropdown-item text-primary">Register</a>
        </li>
        <li class="nav-item">
            <a asp-area="Authentication" asp-controller="Auth" asp-action="Login" class="dropdown-item text-primary">Login</a>
        </li>
    }
</ul>

